.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  height: 100%;
  /* width: 100%; */
  /* background-color: aqua; */
}

@media screen and (max-width: 768px) {
  canvas {
    width: 100%;
    height: auto;
  }
}

.btns {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.btns button {
  padding: 0.5rem 1rem;
  font-size: large;
}
